@page
@model DetailsModel

@{
    ViewData["Title"] = "Details Order Item";
}

<div class="card m-3">
    <div class="card-header">
        <a asp-page="/Index" class="h1 text-decoration-none">Coffe In Aja</a>
    </div>
    <div class="card-body">
        <h3>Details Order</h3>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrderItem.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrderItem.Quantity)
            </dd>
        </dl>
    </div>
    <a class="btn btn-secondary" asp-page="/Orders/Index">Back to List</a>
</div>
