@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var orders = Model.Orders.ToList();
}

<div class="card m-3">
    <div class="card-header">
        <a asp-page="/Index" class="h1 text-decoration-none">Coffe In Aja</a>
    </div>
    <div class="card-body">
        <h3 class="text-start flex-grow-1">Welcome to Coffe In Aja!</h3>
        <a class="btn btn-success" asp-page="/Orders/Index">+ New Order</a>
    </div>
</div>

